{% extends "base.html" %} 

{% block title %}List{% endblock title %}

{% block content %}
<br>
<div class="row">

  {% for destination in destinations %}
  <div class="col-md-6">
    
      <div class="card my-card" style="width: 32rem; height: 26rem;">
  <a href="{% url 'destination-detail' destination.id %}" style="color: #f06500;font-weight: bold;">
     <h1>  <p> {{destination.name}}</p></a>
     </h1>
      <p>Activities: {{destination.activities}}</p>
    <img src="{{destination.pretty_picture.url}}" />
      </div></div>
  {% endfor %}
</div>
{% endblock content %}

